@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

:root{
--azul:#234255;
--azul-escuro:#1b3443;
--branco:#ffffff;
--cinza:#cfd8dc;
}

body{
margin:0;
font-family:'Montserrat', sans-serif;
background:var(--azul);
color:var(--branco);
}

/* HEADER AJUSTADO */

.header{
padding:15px 30px; /* antes era 60px */
position:fixed;
width:100%;
background:rgba(35,66,85,0.97);
z-index:1000;
}

.header .container{
max-width:1200px;
margin:auto;
}

.logo-img{
height:95px; /* maior */
}

.menu{
list-style:none;
display:flex;
margin:0;
align-items:center;
}

.menu li{
margin-left:25px;
position:relative;
}

.menu a{
color:var(--branco);
text-decoration:none;
font-weight:500;
transition:0.3s;
}

.menu a:hover{
opacity:0.7;
}

/* DROPDOWN */

.submenu{
display:none;
position:absolute;
top:45px;
left:0;
background:var(--azul-escuro);
list-style:none;
padding:10px 0;
min-width:200px;
border-radius:8px;
}

.submenu li{
padding:8px 20px;
}

.submenu li a{
color:white;
}

.dropdown:hover .submenu{
display:block;
}

/* HERO */

.hero{
height:100vh;
background:linear-gradient(rgba(35,66,85,0.85), rgba(35,66,85,0.85)),
url('https://images.unsplash.com/photo-1588854337221-4cf9fa96059c');
background-size:cover;
background-position:center;
display:flex;
align-items:center;
justify-content:center;
margin-top:110px;
}

.hero h1{
font-size:52px;
font-weight:700;
}

.localizacao{
margin-top:20px;
color:var(--cinza);
}

.btn-principal{
margin-top:30px;
background:var(--branco);
color:var(--azul);
padding:15px 45px;
text-decoration:none;
border-radius:8px;
font-weight:600;
transition:0.3s;
}

.btn-principal:hover{
transform:translateY(-3px);
background:var(--cinza);
}

footer{
padding:40px;
text-align:center;
background:var(--azul-escuro);
}
