body{
margin:0;
font-family: Arial, Helvetica, sans-serif;
background:#234255;
color:white;
}

.header{
padding:20px;
background:#1b3443;
}

.hero{
height:80vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
}

.hero h1{
font-size:36px;
max-width:800px;
margin:auto;
}

.hero p{
margin-top:20px;
font-size:18px;
color:#cfd8dc;
}
